body, html {
    min-height: 100%
}

.center-box, .center-box h1 {
    transition: all .3s ease-in-out
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 0 7px #222;
    color: #fff
}

html {
    background: url(background-dark.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

body {
    margin: 0
}

#overlay {
    transition: all 500ms ease-in-out;
    opacity: 1.0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(background-light.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-box {
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
    font-family: Open Sans;
    font-size: 1em;
    text-align: center;
    display: block;
    transform: translate(-50%, -50%)
}

.center-box h1 {
    border-bottom: 2px solid #777;
    border-top: 2px solid #777;
    margin-bottom: 0;
    display: inline-block;
    font-family: Dancing Script;
    font-weight: 700;
    font-size: 4em;
    padding-bottom: 8px;
    padding-top: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

.center-box h4 a {
    color: #ccc;
    opacity: .5;
    transition: all .5s ease-in-out
}

.center-box h4 a:hover {
    opacity: 1;
    color: #b80e0e
}

.center-box img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #333 inset;
    width: 200px;
    height: 200px
}

.line {
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #4b2d87
}

@media screen and (max-width:768px) {
    .center-box {
        width: 70%
    }
    .center-box h1 {
        font-size: 40px;
    }
    .fa-3x {
        font-size: 2em !important;
    }
    h3 {
        font-size:1em !important;
    }
}

@media screen and (min-width:768px) {
    .center-box {
        width: 600px
    }
}

#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border-top: 5px solid #aaa;
    border-right: 5px solid #aaa;
    border-left: 5px solid #aaa;
    border-bottom: 5px solid #ddd;    
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
